.angular-mdl {
  color: #3f51b5;
}

#content {
  margin: 0 auto;
  margin-top: 64px;
  min-height: 200px;
  width: 600px;
}

.mdl-grid .mdl-textfield {
  width: 100%;
}

#content .mdl-typography--display-1 {
  margin-bottom: 12px;
}

#signin-card {
  margin: 0 auto;
  width: 400px;
}

#signin-card .angular-mdl {
  color: #fff;
  font-weight: 500;
}

#signin-card .mdl-card__title {
  background: url('./images/welcome_card.jpg') center top no-repeat;
  background-size: 100% auto;
  height: 100px;
}

#signin-card .mdl-card__title-text {
  color: #fff;
}