<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>&lt;angular-mdl &#47;&gt;</title>
  <link rel="stylesheet" href="../bower_components/material-design-lite/material.min.css">
  <link rel="stylesheet" href="./example.css">
</head>
<body ng-app="example">
  <div id="container" class="mdl-layout mdl-js-layout" ng-controller="IndexController as ctrl">
    
    <div class="mdl-grid">

    </div>

    <div id="content">
      <form name="form" ng-submit="ctrl.submitForm(form, $event)" novalidate>
        <div id="signin-card" class="demo-card-wide mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Welcome to &nbsp;<span class="angular-mdl"> &lt;angular-mdl &#47;&gt; </span></h2>
          </div>

          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" ng-model="ctrl.userForm.email" type="email" name="email" id="email" required />
                <label class="mdl-textfield__label" for="email">Email</label>
                <span class="mdl-textfield__error">Invalid email address!</span>
              </div>
            </div>
            <div class="mdl-cell mdl-cell--12-col">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" ng-model="ctrl.userForm.password" type="password" name="password" id="password" required minlength="4" />
                <label class="mdl-textfield__label" for="password">Password</label>
                <span class="mdl-textfield__error">Password must be at least 4 characters long!</span>
              </div>
            </div>
          </div>

          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col">
              <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="remember_me">
                <input type="checkbox" ng-model="ctrl.userForm.rememberMe" id="remember_me" class="mdl-checkbox__input" checked />
                <span class="mdl-checkbox__label">Remember my login!</span>
              </label>
            </div>
          </div>

          <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
              Let me in now!
            </a>
          </div>
        </div>


      </form>
    </div>
  </div>

  <script src="../bower_components/material-design-lite/material.min.js"></script>
  <script src="../bower_components/angular/angular.min.js"></script>
  <script src="../dist/angular-mdl.min.js"></script>
  <script src="./example.js"></script>
</body>
</html>